{% extends "index/base2.html" %}
{% block title %}帮带{% endblock %}
{% block extra %}
<style type="text/css">
.ui-btn-text strong {
	font-weight: 200px;
	color: white;

}
.weizhi h1 a span span {
	color: white;
	font-size: 13px;
}
.weizhi h1 a span span span {
	color: balck;
	font-size: 17px;
}
.weizhi h1 a {
	font-weight:400;
	color: white;
	background: #6C797C;
}
#help {
	font-weight: 300;
	color: White;
	background: #5DB15D;
}
#guoqi {
	color: red;
}
</style>

{% endblock %}

{%block header %}<a href={{ referer }} data-role="button" data-icon="arrow-l">返回</a><h1>{{ title }}</h1>{% endblock %}

{% block content %}
<h3 style="color:gray">点击空处显示菜单栏</h3>


<div data-role="collapsible-set"  >
		   	{% for item in my_express %}

					<div class="weizhi" data-mini="false" data-role="collapsible"  data-content-the	me="e">
					        <h1>从<span>{{ item.sourcePosition }}</span>送到<span> {{ item.destinationPosition }} </span><span id="qian"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.tip }}￥ </span></h1>
					        <a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>快件编号:</span><span>{{ item.id }}</span></a>
					         <a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>快件状态:</span><span{% if '过期' in item.express_status %} id='guoqi'{% endif %}>{{ item.express_status }}</span></a>
					        
					        <a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>取件截止时间:</span><span>{{ item.getDate | date:"m/d" }}&nbsp;&nbsp;{{ item.getTime }}</span></a> 
					        
					        	<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>送货时间:</span><span>{{ item.deadLine }}</span></a>
								<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>快递公司:</span><span>{{ item.express_company }}</span></a>
								<a href="#link"   data-role="button" data-icon="search" onClick='copyToClipBoard()' data-iconpos="right"><span>收件人名字:</span><span>{{ item.name }}</span></a>
								<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>收件人电话:</span><span>{{ item.phone }}</span></a>
								<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>种类:</span><span>{{ item.goodsVariety }}</span></a>
								<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>重量:</span><span>{{ item.goodsWeight }}</span></a>
								<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>价格:</span><span>{{ item.tip }}￥</span></a>
								<a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>帮带人:</span><span>{{ item.expressed_by.username }}</span></a>
					        <a href="#link"   data-role="button" data-icon="search" data-iconpos="right"><span>帮带人电话:</span><span>{{ item.expressed_by.my_profile.phone }}</span></a>
								{% if item.expressed_by %}
								{% else %}
								{%if '过期' in item.express_status %}
								{% else %}
								<a href="/express/cancle/{{ item.id }}" type="submit" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c"><span class="ui-btn-inner"><span class="ui-btn-text">取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;&nbsp;&nbsp;&nbsp;求&nbsp;&nbsp;&nbsp;&nbsp;带</span></span></a><br>
								{% endif %}{% endif %}
			
						</div>
				{% endfor %}
			</div>

    
    


{% endblock %}