{% extends "base3.html" %}
{% block title %}实 名 认 证{% endblock %}
{% block header %}<a href="/index/me/" data-role="button" data-icon="arrow-l">返回</a><h1>还没有实名认证</h1>{% endblock %}
	{% block content %}
<BR>
			<form enctype="multipart/form-data" method="POST" action="#" data-ajax="false">
	{% csrf_token %}
	<label for="mugshot" >头像:</label>
<input type='file' name='mugshot' required="required">
            {{form}}
            <label for="mugshot" >本人与一卡通合照:</label>
<input type='file' name='one_card' required="required">
<input type="submit" value="提交" /><input type="reset" value="重置"/>

    </form>
{% endblock %}