{% extends "base3.html" %}
{% block extra %}
<style type="text/css">
    .ui-page-active {
        text-align: center;
        font-size: 10px;

    }
    .ui-page-active p strong {
        color: blue;
        
    }
    .ui-page-active img {
        width: 200px;
        height: 300px;
    }
    #mugshot {
        width: 80px;
        height: 80px;
    }
    #onecard {
        width: 162px;
        height:255px;
    }
   .table {
    margin: auto;
    border-style: solid;
    border: 2px;
    border-color: black;
    background: gray;
    width: 400px;
   }
</style>

{% endblock %}
{% block header %}<a href={{ referer }} data-role="button" data-icon="arrow-l">返回</a><h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if request.user %}
    <img id="mugshot" src="{{ user_detail.mugshot.thumbnail.url }}" alt="头像" />
    <table>
        <tr><td>用户名:</td> <td>{{ user_detail.user.username }}</td><tr>

    {% if request.user == user_detail.user %}
        <tr><td>电话号码:</td> <td> {{ user_detail.phone }}</td><tr>

        
        <tr><td>性别:</td> <td>{{ user_detail.gender }}</td><tr>

        {% if user_detail.student_number %}
        <tr><td>学号:</td> <td> {{ user_detail.student_number }}</td><tr>
        {% endif %}

        
        <tr><td>一卡通:</td> <td> <img id="onecard" src="{{ user_detail.one_card.thumbnail.url }}" alt="一卡通照片" /></td><tr>
        </table>

            {% endif %}
    {% else %}
        <h1><a href="/accounts/signin" >Login Please</a></h1>
        {% endif %}
{% endblock %}
